@charset "UTF-8";

body {
    background-color: rgb(118, 159, 199);
    font-family:Georgia, 'Times New Roman', Times, serif
}
h1 {
    color:rgb(3, 4, 71);
    text-align: center;
}

h2 {
    color: rgb(9, 43, 77);
}

#principal {
    background-color: rgb(15, 15, 71);
    color: #ffffff
}

p {
    text-align: justify;
}

.basico {
    color: rgb(18, 114, 117);
} 
.intermediario {
    color: rgb(12, 73, 75); 
}
    
.avancado {
    color: rgb(6, 38, 39);
}